body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler,
   'Arial Narrow Bold', sans-serif;
}

.split{
  width: 50%;
  height: 100%;
  top: 0;
}
.split.left{
  position: absolute;
  left: 0;
  background-color: rgb(138, 138, 25);
  background-image: url("https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQBnRRjs3BUXU51A3dwP4M3yOaBwae2gwFUQWqpnmyiUcO1xaBB");
  background-size: cover;
  background-position: center;
  transition: 3s ease-in-out;
}
.split.right{
  position: absolute;
  right: 0;
  background-color: lightskyblue;
  background-image: url("https://www.att.com/scmsassets/global/devices/phones/samsung/samsung-galaxy-z-fold5/carousel/icy-blue-4.png");
  
  background-size: cover;
}
h1 {
  font-size: 100px;
  color: aliceblue;
  backdrop-filter: brightness(.5);
  letter-spacing: 4px;
}
.btn{
  background-color: black;
  color: white;
  padding: 20px 40px;
  font-size: 25px;
  border: 4px solid;
  cursor: pointer;
  transition: 1s background-color;
  white-space: nowrap;
}

.btn:hover{
  background-color: white;
  color: black;
}

.active-left .left{
  width: 75%;
}
.active-left .right{
  width: 25%;
}

.active-right .right{
  width: 75%;
}
.active-right .left{
  width: 25%;
}

.left, .right {
  transition: width 6s ease-in-out;
}